* {
  user-select: none;
  margin: 0;
}

footer {
  width: 100vw;
  height: 300px;
  padding: 0px 150px;
  justify-content: space-evenly;
  color: white;
}
.about {
  width: 50%;
  height: 70%;
  justify-content: space-around;
}
.messengers {
  width: 240px;
  justify-content: space-between;
}
.messengerBg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.messengerBg:active {
  transform: scale(1.1);
  transition: 0.3s;
}
.menus {
  height: 70%;
}
.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  font-weight: 100;
  margin-left: 100px;
}

.menu h6:hover {
  text-decoration-line: underline;
}

@media screen and (max-width: 415px) {
  footer {
    flex-direction: column;
    align-items: center;
    height: 350px;
    padding: 25px 0px;
  }
  .about {
    width: 70vw;
  }
  .menus {
    margin-top: 25px;
  }
  .menu {
    margin: 0px 50px;
  }
  .messengerBg {
    width: 30px;
    height: 30px;
  }
  .messengerBg img {
    width: 50%;
  }
}
