* {
  user-select: none;
}
body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  background: black;
}
button {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 3em;
  font-weight: bold;
  background: none;
  outline: none;
  color: white;
  border: 2px solid;
  border-radius: 50%;
  overflow: hidden;
}
button:active {
  transform: scale(0.95);
  transition: 0.3s;
}
.prev {
  left: 10px;
}
.prev span {
  animation: btnPrev 1s linear 0s infinite;
}
.next {
  right: 10px;
}
.next span {
  animation: btnNext 1s linear 0s infinite;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.minCont {
  display: none;
  grid-template: repeat(2, 250px) / repeat(2, 500px);
  gap: 20px;
}
.minContAct {
  display: grid;
  animation: contAnim 1s linear 0s 1;
}
.img {
  width: 500px;
  height: 250px;
  border: 2px solid white;
  border-radius: 10px;
}
.cirCont {
  position: absolute;
  display: flex;
  align-items: center;
  width: 250px;
  bottom: 50px;
  justify-content: space-between;
}
.cir {
  width: 25px;
  height: 25px;
  background: white;
  border: 3px solid white;
  border-radius: 50%;
}
.cirActive {
  border: 3px solid white;
  background: black;
}
.basicList {
  width: 30px;
  height: 30px;
  background: none;
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1em;
  border-radius: 10px;
}
h3 {
  position: absolute;
  right: 20px;
  bottom: 0;
  font-family: cursive;
  font-weight: bold;
}
@keyframes contAnim {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes btnPrev {
  0% {
    transform: translateX(200%) scale(2);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes btnNext {
  0% {
    transform: translateX(-200%) scale(2);
  }
  100% {
    transform: translateX(200%);
  }
}
